/* List.module.scss */

.filter {
	margin-top: 2vh;
	display: flex;
	justify-content: flex-end;
	margin-right: 6.5vw;
	margin-bottom: 2vh;
	&__city {
		background-color: #ffd700;
		padding: 5px;
	}
	&__name {
		background-color: #ffd700;
		padding: 5px;
	}
}
.list {
	display: flex;
	flex-wrap: wrap;
	gap: 1em; /* Отступ между карточками */
	justify-content: center; /* Центрирование карточек на горизонтальной оси */
}

@media (max-width: 768px) {
	.list {
		justify-content: flex-start; /* Выравнивание карточек слева на устройствах с шириной до 768px */
	}
}

.card {
	width: var(--card-width, 100%); /* Адаптивная ширина карточки */
	max-width: 280px; /* Максимальная ширина карточки, если экран очень широкий */
}

.card_content {
	padding: 1em;
}

.card_image {
	height: 0; /* Относительная высота (будет зависеть от высоты родителя) */
	padding-top: 56.25%; /* Соотношение сторон (16:9) */
	background-size: cover;
	background-position: center;
}

.card_title {
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

.card_description {
	font-size: 1.2em;
}

.other__list {
	display: flex;
	flex-wrap: wrap;
	gap: 2em; /* Increased gap between cards */
	justify-content: center; /* Center the cards on the page */
}
